### Chapter 6 Exercises

In [2]:
import polars as pl

pl.Config.set_fmt_str_lengths(50)

polars.config.Config

1.	Create a SQL Context and register the table job_postings (`../datasets/job_postings/job_postings_simplified.csv`) and companies (`../datasets/job_postings/company_details/companies.csv`)

In [15]:
job_postings = pl.scan_csv("../datasets/job_postings/job_postings_simplified.csv")
companies = pl.scan_csv("../datasets/job_postings/company_details/companies.csv")

ctx = pl.SQLContext(register_globals=True, eager_execution=True)

2.	Using the SQL context, show the first 5 rows of the companies table

In [19]:
ctx.execute("""--sql
    SELECT *
    FROM companies
    LIMIT 5
""")

shape: (5, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬───────────┐
│ company_i ┆ name      ┆ descripti ┆ company_s ┆ … ┆ city      ┆ zip_code ┆ address   ┆ url       │
│ d         ┆ ---       ┆ on        ┆ ize       ┆   ┆ ---       ┆ ---      ┆ ---       ┆ ---       │
│ ---       ┆ str       ┆ ---       ┆ ---       ┆   ┆ str       ┆ str      ┆ str       ┆ str       │
│ i64       ┆           ┆ str       ┆ i64       ┆   ┆           ┆          ┆           ┆           │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═══════════╡
│ 1009      ┆ IBM       ┆ At IBM,   ┆ 7         ┆ … ┆ Armonk,   ┆ 10504    ┆ Internati ┆ https://w │
│           ┆           ┆ we do     ┆           ┆   ┆ New York  ┆          ┆ onal      ┆ ww.linked │
│           ┆           ┆ more than ┆           ┆   ┆           ┆          ┆ Business  ┆ in.com/co │
│           ┆           ┆ work. We  ┆           ┆   ┆           ┆          ┆ Machines  ┆ mpany/ibm │
│           ┆           ┆ create.   ┆           ┆   ┆           ┆          ┆ Corp.     ┆           │
│           ┆           ┆ We        ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆           ┆ create…   ┆           ┆   ┆           ┆          ┆           ┆           │
│ 1016      ┆ GE Health ┆ Every day ┆ 7         ┆ … ┆ Chicago   ┆ 0        ┆ -         ┆ https://w │
│           ┆ Care      ┆ millions  ┆           ┆   ┆           ┆          ┆           ┆ ww.linked │
│           ┆           ┆ of people ┆           ┆   ┆           ┆          ┆           ┆ in.com/co │
│           ┆           ┆ feel the  ┆           ┆   ┆           ┆          ┆           ┆ mpany/geh │
│           ┆           ┆ impact of ┆           ┆   ┆           ┆          ┆           ┆ ealthcare │
│           ┆           ┆ ou…       ┆           ┆   ┆           ┆          ┆           ┆           │
│ 1021      ┆ GE Power  ┆ GE Power, ┆ 7         ┆ … ┆ Schenecta ┆ 12345    ┆ 1 River   ┆ https://w │
│           ┆           ┆ part of   ┆           ┆   ┆ dy        ┆          ┆ Road      ┆ ww.linked │
│           ┆           ┆ GE        ┆           ┆   ┆           ┆          ┆           ┆ in.com/co │
│           ┆           ┆ Vernova,  ┆           ┆   ┆           ┆          ┆           ┆ mpany/gep │
│           ┆           ┆ is a      ┆           ┆   ┆           ┆          ┆           ┆ ower      │
│           ┆           ┆ world     ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆           ┆ energy    ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆           ┆ le…       ┆           ┆   ┆           ┆          ┆           ┆           │
│ 1025      ┆ Hewlett   ┆ Official  ┆ 7         ┆ … ┆ Houston   ┆ 77389    ┆ 1701 E    ┆ https://w │
│           ┆ Packard   ┆ LinkedIn  ┆           ┆   ┆           ┆          ┆ Mossy     ┆ ww.linked │
│           ┆ Enterpris ┆ of        ┆           ┆   ┆           ┆          ┆ Oaks Rd   ┆ in.com/co │
│           ┆ e         ┆ Hewlett   ┆           ┆   ┆           ┆          ┆ Spring    ┆ mpany/hew │
│           ┆           ┆ Packard   ┆           ┆   ┆           ┆          ┆           ┆ lett-pack │
│           ┆           ┆ Enterpris ┆           ┆   ┆           ┆          ┆           ┆ ard-e…    │
│           ┆           ┆ e, t…     ┆           ┆   ┆           ┆          ┆           ┆           │
│ 1028      ┆ Oracle    ┆ We’re a   ┆ 7         ┆ … ┆ Austin    ┆ 78741    ┆ 2300      ┆ https://w │
│           ┆           ┆ cloud tec ┆           ┆   ┆           ┆          ┆ Oracle    ┆ ww.linked │
│           ┆           ┆ hnology   ┆           ┆   ┆           ┆          ┆ Way       ┆ in.com/co │
│           ┆           ┆ company   ┆           ┆   ┆           ┆          ┆           ┆ mpany/ora │
│           ┆           ┆ that      ┆           ┆   ┆           ┆          ┆           ┆ cle       │
│           ┆           ┆ provides  ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆           ┆ org…      ┆           ┆   ┆           ┆          ┆           ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴───────────┘

3.	Filter for US companies, then count the number of companies by state. Show the top 3 states by descending order of number of companies

In [25]:
ctx.execute("""--sql
    SELECT state, COUNT(*) AS num_companies
    FROM companies
    WHERE country = 'US'
    GROUP BY state
    ORDER BY num_companies DESC
    LIMIT 3
""")

shape: (3, 2)
┌────────────┬───────────────┐
│ state      ┆ num_companies │
│ ---        ┆ ---           │
│ str        ┆ u32           │
╞════════════╪═══════════════╡
│ CA         ┆ 470           │
│ California ┆ 465           │
│ Texas      ┆ 322           │
└────────────┴───────────────┘

4.	Filter for US companies, then count the number of jobs by state. Show the top 3 states by descending order of number of jobs. You will need to join the job_postings table

In [31]:
ctx.execute("""--sql
    SELECT companies.state, 
            COUNT(*) AS number_of_jobs
    FROM job_postings
    JOIN companies
    ON job_postings.company_id = companies.company_id
    WHERE companies.country = 'US'
    GROUP BY companies.state
    ORDER BY number_of_jobs DESC
    LIMIT 3
""")

shape: (3, 2)
┌────────────┬────────────────┐
│ state      ┆ number_of_jobs │
│ ---        ┆ ---            │
│ str        ┆ u32            │
╞════════════╪════════════════╡
│ CA         ┆ 1358           │
│ California ┆ 1100           │
│ Texas      ┆ 770            │
└────────────┴────────────────┘

5.	Show the top 5 highest paid jobs by IBM. Use max_salary to identify the highest paid jobs

In [39]:
ctx.execute("""--sql
    SELECT job_postings.title, 
            COUNT(*) AS number_of_jobs,
            AVG(job_postings.max_salary) AS average_max_salary
    FROM job_postings
    JOIN companies
    ON job_postings.company_id = companies.company_id
    WHERE companies.name = 'IBM'
    GROUP BY job_postings.title
    ORDER BY average_max_salary DESC
    LIMIT 5
""")

shape: (5, 3)
┌──────────────────────────────────────┬────────────────┬────────────────────┐
│ title                                ┆ number_of_jobs ┆ average_max_salary │
│ ---                                  ┆ ---            ┆ ---                │
│ str                                  ┆ u32            ┆ f64                │
╞══════════════════════════════════════╪════════════════╪════════════════════╡
│ Technical Consultant - zOS (TS/SCI)  ┆ 1              ┆ 235000.0           │
│ Application Architect - IBM Maximo   ┆ 4              ┆ 190000.0           │
│ Postdoctoral Researcher - Biosensors ┆ 1              ┆ 187920.0           │
│ Project Manager - Maximo             ┆ 4              ┆ 173000.0           │
│ Sales Reporting Professional         ┆ 1              ┆ 167000.0           │
└──────────────────────────────────────┴────────────────┴────────────────────┘